.chatContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #131324;
}
.contactsContainer {
  height: 85vh;
  width: 85vw;
  background-color: #00000076;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .contactsContainer {
    grid-template-columns: 35% 65%;
  }
}
