.chatBoxContainer {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  overflow: hidden;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .chatBoxContainer {
    grid-template-rows: 15% 77% 8%;
  }
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.user-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-details .avatar img {
  height: 3rem;
}
.username h3 {
  color: white;
}
.chat-messages {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
.chat-messages::-webkit-scrollbar {
  width: 0.5rem;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ffffff39;
  width: 0.1rem;
  border-radius: 1rem;
}
.chat-messages .message {
  display: flex;
  align-items: center;
}
.message.sended {
  justify-content: flex-end;
}
.message.received {
  justify-content: flex-start;
}
.content {
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #d1d1d1;
}
.sended .content {
  background-color: #4f04ff21;
}
.received .content {
  justify-content: flex-start;
  background-color: #9900ff20;
}
